name: Update comics

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

env:
  REPO: maycomayco/xkcd-scraper
  BRANCH: master
  FOLDER: comics
  TOKEN: ${{ secrets.TOKEN_FOR_GITHUB }}

jobs:
  checkout-files:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Set Node.js 18.12.1
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.1
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN_FOR_GITHUB }}
      - name: Configure Git
        run: |
          git config --global user.email "bot@xkcd.com"
          git config --global user.name "xkcd-bot"
      - name: Checkout files from another repository
        run: |
          REPO_URL="https://${TOKEN}@github.com/${REPO}.git"
          git clone --depth=1 --branch ${BRANCH} ${REPO_URL} repo
          cp -r repo/${FOLDER}/ ./${FOLDER}/
      - name: Clean up
        run: rm -rf repo
      - name: Commit and push changes
        run: |
          git add -A
          git commit -m "[bot] Update files from $REPO" || echo "No changes to commit"
          git push -u origin main
